.Header {
  text-align: center;
  margin-top: 125px;
  margin-bottom: 120px;
}

.title {
  text-transform: uppercase;
  color: #4a587b;
}

.Header p {
  margin: 0 auto;
  width: 416px;
}

.leaflet-container {
  height: 500px;
  margin: 100px 0;
}

.cards-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Card {
  width: 245px;
  border: 0.3px solid;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.Card:hover {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.Card .card-body {
  margin: 0px 10px;
}

.Card .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
