.Header {
  text-align: center;
  margin-top: 125px;
}

.title {
  text-transform: uppercase;
  color: #4a587b;
}

.Header p {
  margin: 0 auto;
  width: 416px;
}

.Card {
  width: 245px;
  height: 200px;
  border: 0.3px solid;
}

.Card .card-floor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
